<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form id="loginForm">
        <label for="username">Username:</label>
        <br>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    <p>
        Don't have an account? <a href="http://127.0.0.1:8000/register/">Click here to register</a>.
    </p>

    <script>
        document.getElementById('loginForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const data = { username, password };

            fetch('http://localhost:8000/api/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                if (result.status === 'success') {
                    // Login successful, redirect to another page or perform any other action
                    console.log('Login successful');
                    console.log(result.username);
                    window.location.href = "http://127.0.0.1:8000/home/";
                } else {
                    // Login failed, display error message
                    console.error('Login failed:', result.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
