<!DOCTYPE html>
<html>
    <head>
        <title> Register </title>
    </head>

    <body>
        <h1> Register </h1>
        <form id = "registerForm">
            <label for="username">Username:</label>
            <br>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="nama_depan">Nama Depan:</label>
            <br>
            <input type="text" id="nama_depan" name="nama_depan" required>
            <br>
            <label for="nama_belakang">Nama Belakang:</label>
            <br>
            <input type="text" id="nama_belakang" name="nama_belakang" required>
            <br>
            <label for="email">Email:</label>
            <br>
            <input type="text" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>

        <script src="../static/js/register.js"></script>
    </body>
</html>